.categories-slider-component .categories-list{
	margin: 0;
	padding: 0;
	list-style: none
}

.categories-slider-component .title {
    margin-left: 15px;
    margin-right: 15px
}
.categories-slider-component .categories-list {
    padding-left: 15px
}

.categories-slider-component {
	margin-top: 41px
}

.categories-slider-component .title {
	padding-bottom: 7px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e5dbdb;
	font-size: 24px;
	font-weight: 800;
	color: #424242
}

.categories-slider-component .categories-list {
	display: flex;
	overflow-x: auto
}

.categories-slider-component .item {
	margin-right: 14px
}

.categories-slider-component .iconoCat {
	margin-top: 32px
}

.categories-slider-component .btn-category {
	min-width: 109px;
	height: 125px;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	display: flex;
	align-items: center;
	flex-direction: column
}

.categories-slider-component .category-name {
	color: #424242;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	line-height: 1.3;
	margin-top: 9px
}
@media(max-width:1080) and (min-width:768.1px) {
	.categories-slider-component .title {
		margin-left: 20px;
		margin-right: 20px
	}
	.categories-slider-component .categories-list{
		padding-left: 20px
	}

}
@media(max-width:768px) {
    .categories-slider-component .categories-list {
		padding-bottom: 30px
	}
	.categories-slider-component .categories-list .item:last-child {
		padding-right: 14px
	}
}
